node-red/flows.json
[
    {
        "id": "e53d878b3b5cc17d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc3e7f34e7cfa3b6",
        "type": "group",
        "z": "e53d878b3b5cc17d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b16beec5a829f711",
            "7a5d5cea03b828fd",
            "f32c6cc1b7a5e84d",
            "02f1bf6dc9747fe2",
            "80c1cfe66ae618e8",
            "9afb4815853d0438",
            "b755b9b5c135f2a6",
            "4de46f7b7e737260",
            "5e5245b3f6a5ca34",
            "0797c810096a22cc",
            "4d396494a1957288",
            "a209bccbfa0d2bb6",
            "f19603a5193b1b33",
            "eea20966194f57d4",
            "aa7a7f7204eb7e49",
            "6748df8f32f820f9",
            "73db7708db2d29b2",
            "2589155dc5675688",
            "b273f1c60dbeb25a"
        ],
        "x": 34,
        "y": 19,
        "w": 872,
        "h": 722
    },
    {
        "id": "b53b7a7b3d336b40",
        "type": "group",
        "z": "e53d878b3b5cc17d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "be18728e7ea3d09c",
            "67a5f3e799bcba9a",
            "4a6db69c849aa214",
            "6c4af241d4b60792",
            "84d2dc18f2dfdc24",
            "cfd258e60a45434c",
            "f690c5d8552dedb2",
            "5c3642870f54d8c1",
            "185aa5a3eda26ddc",
            "4faf50e36f36b3ba",
            "c87bcba6ac2b0b02",
            "4703771ace747d5c",
            "33c2f2cf0b178926",
            "fd3ca4e1503f2969",
            "4c79ea327b6a1144",
            "c23fa3593527e0c8",
            "5fa0fb87686e05f0",
            "c23d83a4d513024c",
            "23f6b89f54472525"
        ],
        "x": 14,
        "y": 759,
        "w": 892,
        "h": 662
    },
    {
        "id": "9cb3f13d7ec9dd3b",
        "type": "ui_group",
        "name": "Select Measure",
        "tab": "e34984f2a9e502de",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "28a42ea52fb83088",
        "type": "ui_group",
        "name": "Select time interval",
        "tab": "e34984f2a9e502de",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae89db5939f992a2",
        "type": "ui_group",
        "name": "Chart",
        "tab": "e34984f2a9e502de",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b6ddd81860ae765",
        "type": "ui_group",
        "name": "Click to start",
        "tab": "e34984f2a9e502de",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30a8417d61c91398",
        "type": "ui_group",
        "name": "Settings",
        "tab": "e34984f2a9e502de",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e34984f2a9e502de",
        "type": "ui_tab",
        "name": "Measurements in time",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90d83f2d3023de03",
        "type": "ui_group",
        "name": "Select Action",
        "tab": "09396db36fe7f512",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8ad6fb3e371a0d9",
        "type": "ui_group",
        "name": "Settings",
        "tab": "09396db36fe7f512",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4019de3f3c2b54b9",
        "type": "ui_group",
        "name": "Chart",
        "tab": "09396db36fe7f512",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95736105ebf0225f",
        "type": "ui_group",
        "name": "Select time interval",
        "tab": "09396db36fe7f512",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09396db36fe7f512",
        "type": "ui_tab",
        "name": "Energy Consumption",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "21954aca89a55daa",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1024d5d670ef4ac6",
        "type": "ui_group",
        "name": "Select Greenhouse",
        "tab": "09396db36fe7f512",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f2d87d53def27e2",
        "type": "ui_group",
        "name": "Select Greenhouse",
        "tab": "e34984f2a9e502de",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9370e766a23a0392",
        "type": "ui_group",
        "name": "Click to start",
        "tab": "09396db36fe7f512",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b16beec5a829f711",
        "type": "http request",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8090/getGHIDlist",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 170,
        "y": 140,
        "wires": [
            [
                "7a5d5cea03b828fd"
            ]
        ]
    },
    {
        "id": "7a5d5cea03b828fd",
        "type": "json",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "f32c6cc1b7a5e84d"
            ]
        ]
    },
    {
        "id": "f32c6cc1b7a5e84d",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "function 1",
        "func": "var greenhouses = msg.payload;\nmsg.options = greenhouses;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 260,
        "wires": [
            [
                "5e5245b3f6a5ca34"
            ]
        ]
    },
    {
        "id": "02f1bf6dc9747fe2",
        "type": "ui_dropdown",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "9cb3f13d7ec9dd3b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Temperature",
                "value": "Temperature",
                "type": "str"
            },
            {
                "label": "Humidity",
                "value": "Humidity",
                "type": "str"
            },
            {
                "label": "CO2",
                "value": "CO2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "eea20966194f57d4"
            ]
        ]
    },
    {
        "id": "80c1cfe66ae618e8",
        "type": "ui_dropdown",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "label": "Last...",
        "tooltip": "",
        "place": "Select option",
        "group": "28a42ea52fb83088",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "day",
                "value": "day",
                "type": "str"
            },
            {
                "label": "week",
                "value": "week",
                "type": "str"
            },
            {
                "label": "month",
                "value": "month",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "aa7a7f7204eb7e49"
            ]
        ]
    },
    {
        "id": "9afb4815853d0438",
        "type": "http request",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 580,
        "wires": [
            [
                "73db7708db2d29b2",
                "2589155dc5675688"
            ]
        ]
    },
    {
        "id": "b755b9b5c135f2a6",
        "type": "ui_chart",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "group": "ae89db5939f992a2",
        "order": 0,
        "width": "12",
        "height": "7",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "4de46f7b7e737260",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "function 2",
        "func": "var parameters = {};\nvar messages\n\nmessages = msg.payload.split(\"\\n\")\n\nparameters.param1 = messages[0];\nparameters.param2 = messages[1];\nparameters.param3 = messages[2];\n\nvar baseUrl = \"http://127.0.0.1:8090/getDataChart\";\n\n// Construct the URL with parameters\nvar apiUrl = baseUrl + \"?ghID=\" + parameters.param1 + \"&n=\" + parameters.param2 + \"&t=\" + parameters.param3;\n\n// Create the HTTP request message\nmsg.payload = apiUrl;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 520,
        "wires": [
            [
                "9afb4815853d0438"
            ]
        ]
    },
    {
        "id": "5e5245b3f6a5ca34",
        "type": "ui_dropdown",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "1f2d87d53def27e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "f19603a5193b1b33"
            ]
        ]
    },
    {
        "id": "0797c810096a22cc",
        "type": "file",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "filename": "./choices.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 750,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4d396494a1957288",
        "type": "ui_button",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "group": "30a8417d61c91398",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button after selection",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 520,
        "wires": [
            [
                "a209bccbfa0d2bb6"
            ]
        ]
    },
    {
        "id": "a209bccbfa0d2bb6",
        "type": "file in",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "filename": "./choices.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "4de46f7b7e737260",
                "6748df8f32f820f9"
            ]
        ]
    },
    {
        "id": "f19603a5193b1b33",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "function 3",
        "func": "msg.drop1 = msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "0797c810096a22cc",
                "02f1bf6dc9747fe2"
            ]
        ]
    },
    {
        "id": "eea20966194f57d4",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "function 4",
        "func": "msg.drop2 = msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "0797c810096a22cc",
                "80c1cfe66ae618e8"
            ]
        ]
    },
    {
        "id": "aa7a7f7204eb7e49",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "function 5",
        "func": "msg.drop3 = msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "0797c810096a22cc"
            ]
        ]
    },
    {
        "id": "6748df8f32f820f9",
        "type": "file",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "filename": "./choices.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 520,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "73db7708db2d29b2",
        "type": "json",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 640,
        "wires": [
            [
                "b755b9b5c135f2a6"
            ]
        ]
    },
    {
        "id": "be18728e7ea3d09c",
        "type": "http request",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 1280,
        "wires": [
            [
                "67a5f3e799bcba9a",
                "c23d83a4d513024c"
            ]
        ]
    },
    {
        "id": "67a5f3e799bcba9a",
        "type": "json",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 1320,
        "wires": [
            [
                "5fa0fb87686e05f0"
            ]
        ]
    },
    {
        "id": "6c4af241d4b60792",
        "type": "file",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "filename": "./choices2.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 780,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "84d2dc18f2dfdc24",
        "type": "ui_button",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "group": "f8ad6fb3e371a0d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button after selection",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 1240,
        "wires": [
            [
                "cfd258e60a45434c"
            ]
        ]
    },
    {
        "id": "cfd258e60a45434c",
        "type": "file in",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "filename": "./choices2.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 340,
        "y": 1240,
        "wires": [
            [
                "5c3642870f54d8c1",
                "4faf50e36f36b3ba"
            ]
        ]
    },
    {
        "id": "f690c5d8552dedb2",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "function 8",
        "func": "msg.drop3 = msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1100,
        "wires": [
            [
                "6c4af241d4b60792"
            ]
        ]
    },
    {
        "id": "5c3642870f54d8c1",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "function 9",
        "func": "var parameters = {};\nvar messages\n\nmessages = msg.payload.split(\"\\n\")\n\nparameters.param1 = messages[0];\nparameters.param2 = messages[1];\nparameters.param3 = messages[2];\n\nvar baseUrl = \"http://127.0.0.1:8090/getDataPowerConsumption\";\n\n// Construct the URL with parameters\nvar apiUrl = baseUrl + \"?ghID=\" + parameters.param1 + \"&action=\" + parameters.param2 + \"&t=\" + parameters.param3;\n\n// Create the HTTP request message\nmsg.payload = apiUrl;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "be18728e7ea3d09c"
            ]
        ]
    },
    {
        "id": "185aa5a3eda26ddc",
        "type": "ui_dropdown",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "label": "Last...",
        "tooltip": "",
        "place": "Select option",
        "group": "95736105ebf0225f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "day",
                "value": "day",
                "type": "str"
            },
            {
                "label": "week",
                "value": "week",
                "type": "str"
            },
            {
                "label": "month",
                "value": "month",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "f690c5d8552dedb2"
            ]
        ]
    },
    {
        "id": "4faf50e36f36b3ba",
        "type": "file",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "filename": "./choices2.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 420,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "c87bcba6ac2b0b02",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "function 10",
        "func": "msg.drop2 = msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "6c4af241d4b60792",
                "185aa5a3eda26ddc"
            ]
        ]
    },
    {
        "id": "4703771ace747d5c",
        "type": "ui_dropdown",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "select ghid",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "1024d5d670ef4ac6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 310,
        "y": 980,
        "wires": [
            [
                "c23fa3593527e0c8"
            ]
        ]
    },
    {
        "id": "33c2f2cf0b178926",
        "type": "http request",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8090/getGHIDlist",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 170,
        "y": 840,
        "wires": [
            [
                "fd3ca4e1503f2969"
            ]
        ]
    },
    {
        "id": "fd3ca4e1503f2969",
        "type": "json",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 880,
        "wires": [
            [
                "4c79ea327b6a1144"
            ]
        ]
    },
    {
        "id": "4c79ea327b6a1144",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "get greenhouse",
        "func": "var greenhouses = msg.payload;\nmsg.options = greenhouses;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 920,
        "wires": [
            [
                "4703771ace747d5c"
            ]
        ]
    },
    {
        "id": "c23fa3593527e0c8",
        "type": "function",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "function 12",
        "func": "msg.drop1 = msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 980,
        "wires": [
            [
                "6c4af241d4b60792",
                "4a6db69c849aa214"
            ]
        ]
    },
    {
        "id": "4a6db69c849aa214",
        "type": "ui_dropdown",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "action",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "90d83f2d3023de03",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Greenhouse",
                "value": "Greenhouse",
                "type": "str"
            },
            {
                "label": "Device",
                "value": "Device",
                "type": "str"
            },
            {
                "label": "Actuator",
                "value": "Actuator",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 330,
        "y": 1040,
        "wires": [
            [
                "c87bcba6ac2b0b02"
            ]
        ]
    },
    {
        "id": "5fa0fb87686e05f0",
        "type": "ui_chart",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "group": "4019de3f3c2b54b9",
        "order": 0,
        "width": "12",
        "height": "7",
        "label": "chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "c23d83a4d513024c",
        "type": "debug",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1120,
        "wires": []
    },
    {
        "id": "2589155dc5675688",
        "type": "debug",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "b273f1c60dbeb25a",
        "type": "ui_button",
        "z": "e53d878b3b5cc17d",
        "g": "dc3e7f34e7cfa3b6",
        "name": "",
        "group": "8b6ddd81860ae765",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "b16beec5a829f711"
            ]
        ]
    },
    {
        "id": "23f6b89f54472525",
        "type": "ui_button",
        "z": "e53d878b3b5cc17d",
        "g": "b53b7a7b3d336b40",
        "name": "",
        "group": "9370e766a23a0392",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "33c2f2cf0b178926"
            ]
        ]
    }
]